.btn-standard{
    color: #333;
    margin: 1px;
    padding: 2px 3px;
    border: 1px solid #b5b5b5 !important;
    border-bottom-color: #7f7f7f !important;
    background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top !important;
    font-weight: bold;
    font-size: .9em !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.mainTitle{
    font-weight: bold;
}

.grid li {
    float: left;
    width: 25%;
    min-height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #fff;
    background-color: #f9f9f9;
}

.grid{
    margin-left:0;
    margin-right:0;
    padding-left: 0;
    list-style: none;
}

.grid li.hover:hover {
    color: #fff;
    background-color: #2980b9;
    font-weight:bold;       
}

.grid .glyphicon{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.grid small{
    word-wrap: break-word;
}

.gridtext{
    display: block;
    text-align: center;
    word-wrap: break-word;
}

@media (min-width:768px){
    .grid li{
        margin-left:0;
        margin-right:0;
        width:12.5%;
        font-size:14px
    }
}

.z-depth-0 {
  box-shadow: none !important; 
}

.depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}

.depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); 
}

.depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); 
}

.depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); 
}

.depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); 
}