<apex:page showHeader="false" standardStylesheets="false">
    
    <style>
        body {
            background-color: transparent;
            font-size: 10px;
            font-family: arial;
        }
        div {
            min-height: 10em;
            display: table-cell;
            vertical-align: middle
            background-color: transparent;
            filter:alpha(opacity=80); 
            -moz-opacity: 0.9; 
            opacity: 0.9; 
        }
    </style>
    
    <script>
        
        window.onload = function () { 
            var isIE = false;
            var isIE9 = false;
            var isIE8OrOlder = false;
            var isIE10 = false;
            var isIE11 = false;
            var isBrowserUnsupported = false;
            
            // Determine if Chrome
            var isChrome = function() {
                return Boolean(window.chrome);
            }
                        
            // Determine if Firefox
            var isFirefox = typeof InstallTrigger !== 'undefined';
            
            // Determine if IE11
            try {
                if(navigator.appName.indexOf("Internet Explorer") != -1) {
                    isIE = true;
                    isIE9 = (navigator.appVersion.indexOf("MSIE 9") != -1);
                    isIE10 = (navigator.appVersion.indexOf("MSIE 1") != -1);
                    isIE11 = (!!navigator.userAgent.match(/Trident\/7\./));
                    isIE8OrOlder = (!isIE9 && !isIE10 && !isIE11);
                }
            } catch(err) {
                isBrowserUnsupported = true;
                isIE = false;
            }
            
            if (isIE && isIE8OrOlder) {
                document.getElementById('compliance-status-img').src = '{!URLFOR($Resource.EP_ImageLib, 'warning-48.png')}';
                document.getElementById('support-message').innerHTML = 'Not supported IE browser. We recommend you upgrade to IE11';
            }
            
            if (isIE && isIE9) {
                document.getElementById('compliance-status-img').src = '{!URLFOR($Resource.EP_ImageLib, 'warning-48.png')}';
                document.getElementById('support-message').innerHTML = 'Partially supported. We recommend you upgrade to IE11';
            }
            
            if (isIE && (isIE10 || isIE11)) {
                document.getElementById('compliance-status-img').src = '{!URLFOR($Resource.EP_ImageLib, 'ok-48.png')}';
                document.getElementById('support-message').innerHTML = 'Good news! <br/>Your browser is fully supported';
            }
            
            if (!isIE && (isChrome || isFirefox)) {
                document.getElementById('compliance-status-img').src = '{!URLFOR($Resource.EP_ImageLib, 'warning-48.png')}';
                document.getElementById('support-message').innerHTML = 'Your browser is partially supported. For optimum browsing experience we recommend you upgrade to Internet Explorer 11';
            }
        }
        
    </script>
    
    <c:EP_PerformanceMonitor />
    
    <div style="width: 95%; margin:0 auto;text-align: center;top: 10%;position: absolute;">
        <img id="compliance-status-img" />
        <div id="support-message"></div>
    </div>
</apex:page>