html body {
	background-color: transparent;
}
#editorPageButtons {
    padding: 0;
}
.slick-row.ui-widget-content {
	border: 1px solid transparent;
}
.slick-row.ui-widget-content:hover {
	border: 1px solid #d8dde6;
	background: #f4f6f9;
}
.grantTotalContainer label, .slick-header-column.ui-state-default {
    text-transform: uppercase;
    color: #3c4c61;
}
.slick-cell {
    color: #3c4c61;
    border-right-color: #d8dde6;
    border-bottom-color: #d8dde6;
}
.slick-header {
    border-color: #d8dde6;
}
.myGrid {
    border-color: #d8dde6;
}
.btnWrapper button {
    display: none;
}
.btnWrapper label {
    text-align: center;
    background-color: #646f7d;
    border: 1px solid #646f7d;
    color: #fff;
    line-height: 1rem;
    padding: 0.25rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}
.btnWrapper label:hover {
	background-color: #3c4c61;
}
#editorPageButtons .btnWrapper:nth-child(1),
#editorPageButtons .btnWrapper:nth-child(6) {
	display: none;
}
#editorPageButtons .btnWrapper:nth-child(2) {
	margin-left: 0;
}
.uploadFileWrapper input {
	background-color: #fff;
	border-radius: 0.25rem;
	border: 1px solid #d8dde6;
	color: #3c4c61;
}
.footer .btnWrapper {
    width: auto;
}
.uploadFileWrapper input {
    margin: 0 1rem 0 0;
    padding: 4px 0;
}
.footer .btnWrapper:first-of-type {
    margin-left: 0;
}
#importButtonContainer {
    padding-left: 1rem !important;
}
.viewSettingsPanel {
    padding: 0;
    background: #f4f6f9;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    background-clip: padding-box;
    color: #3c4c61;
}
.item-details-form {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
}
.item-details-label {
    color: #646f7d;
}
h2>span.pageTitle>p {
    color: #3c4c61;
}
.viewSettingsPanel h2 {
    display: block;
    padding: 0.25rem 0.75rem;
    border-bottom: 1px solid #d8dde6;
}
.pageBlock.footer {
    border-top: 1px solid #d8dde6;
    padding: 0.75rem 0.75rem;
    margin: 0;
}
.viewSettingsPanel .footer .btnWrapper.right {
    margin: 0 !important;
}
.viewSettingsPanel > div:first-of-type {
    padding: 0.5rem;
    background: #fff;
}
.grandTotalContainer .grandTotalLabel, .viewSettingsPanel .settingLabel {
    color: #54698d;
}
.viewSettingsPanel .columnSelector .container {
    border: 1px solid #d8dde6;
}
.viewSettingsPanel .columnSelector .content {
    border: none;
    border-top: 1px solid #d8dde6;
}
.viewSettingsPanel .columnSelector .cell.checkbox {
    background: transparent url('https://c.cs54.visual.force.com/resource/1490902152000/trafiguraCheckboxUnchecked') no-repeat center / 14px;
    cursor: pointer;
}
.viewSettingsPanel .columnSelector .cell.checkbox.selected {
    background: transparent url('https://c.cs54.visual.force.com/resource/1490902140000/trafiguraCheckboxChecked') no-repeat center / 14px;
}
div.processing {
    background: rgba(200,200,200,0.5) url('https://csse.cs54.visual.force.com/resource/1490193751000/csse__slds/assets/images/spinners/slds_spinner.gif') no-repeat center 2rem / 5rem;
    z-index: 50;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
.gridBusy {
	background: rgba(200,200,200,0.5);
}
.gridBusyAnimation, .gridBusyAnimation.large {
	background: transparent url('https://csse.cs54.visual.force.com/resource/1490193751000/csse__slds/assets/images/spinners/slds_spinner.gif') no-repeat center 2rem / 5rem;
}
.viewSettingsPanel select,
.item-details-form select {
    background-color: #fff;
    color: #3c4c61;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    height: calc(1.5rem + (1px * 2));
}
.viewSettingsPanel select:focus, .viewSettingsPanel select:active {
    outline: 0;
    border-color: #00945b;
    background-color: #fff;
    box-shadow: 0 0 3px #646f7d;
}
.uploadFileWrapper input {
	cursor: pointer;
}
.ui-widget-content.slick-row.even.slick-group, .ui-widget-content.slick-row.odd.slick-group {
	background-color: #54698d;
	border: none;
}
span.slick-group-title {
	padding: 0 0.5rem;
	color: #fff;
}
.slick-row.ui-widget-content.slick-group-totals {
	background: #9faab5;
}
.grandTotal div {
	background: #9faab5;
	padding: 0.25rem;
}
.grid-canvas .slick-cell.editable {
	color: #3c4c61;
	border: 1px solid #d8dde6;
    border-radius: .25rem;
}